{% load static %}

<section class="hero">
    <h2>Top restaurants and more in Glovo</h2>
    <div class="restaurants">
        <div class="restaurant">
            <img src="{% static 'images/mcdonald.jpeg' %}" alt="McDonald's">
            <span>McDonald's</span>
        </div>
        <div class="restaurant">
            <img src="{% static 'images/kfc.jpeg' %}" alt="KFC">
            <span>KFC</span>
        </div>
        <div class="restaurant">
            <img src="{% static 'images/burger_king.webp' %}" alt="BurgerKing">
            <span>BurgerKing</span>
        </div>
        <div class="restaurant">
            <img src="{% static 'images/carrefour.webp' %}" alt="Carrefour">
            <span>Carrefour</span>
        </div>
        <div class="restaurant">
            <img src="{% static 'images/pizzahut.jpeg' %} " alt="PizzaHut">
            <span>PizzaHut</span>
        </div>
        <div class="restaurant">
            <img src="{% static 'images/papajohns.webp' %}" alt="PapaJohn's">
            <span>PapaJohn's</span>
        </div>
        <div class="restaurant">
            <img src="{% static 'images/subway.jpg' %}" alt="Subway">
            <span>Subway</span>
        </div>
        <div class="restaurant">
            <img src="{% static 'images/tacobell.webp' %}" alt="TacoBell">
            <span>TacoBell</span>
        </div>
    </div>
</section>

<section class="delivery-info">
    <h2>Anything delivered</h2>
    <div class="delivery-options">
        <div class="option">
            <img src="{% static 'images/restaurants-opt.svg' %}" alt="Restaurants">
            <h3>Your city's top restaurants</h3>
            <p>With a great variety of restaurants, you can order your favorite food or
                <span class="highlight">explore new restaurants nearby!</span>
            </p>
        </div>
        <div class="option">
            <img src="{% static 'images/delivery-opt.svg' %}" alt="Fast Delivery">
            <h3>Fast delivery</h3>
            <p>Like a flash! Order or send anything in your city and
                <span class="highlight">receive it in minutes</span>.
            </p>
        </div>
        <div class="option">
            <img src="{% static 'images/groceries-opt.svg' %}" alt="Groceries">
            <h3>Groceries delivery & more</h3>
            <p>Find anything you need! From <span class="highlight">supermarkets</span> to shops,
                <span class="highlight">pharmacies to florists</span>—if it’s in your city, order it and receive it.
            </p>
        </div>
    </div>
    <button class="explore-btn">Explore stores around you</button>
</section>
 <section class="delivery-countries">
    <h2>Countries where we deliver</h2>
    <div class="countries-list">
        <span>Spain</span> <span>Italy</span> <span>Ukraine</span> <span>Romania</span> <span>Georgia</span>
        <span>Portugal</span> <span>Poland</span> <span>Morocco</span> <span>Kazakhstan</span> <span>Croatia</span>
        <span>Kenya</span> <span>Côte D'Ivoire</span> <span>Serbia</span> <span>Moldova</span> <span>Uganda</span>
        <span>Kyrgyzstan</span> <span>Bosnia and Herzegovina</span> <span>Bulgaria</span> <span>Ghana</span>
        <span>Montenegro</span> <span>Slovenia</span> <span>Nigeria</span> <span>Armenia</span> <span>Andorra</span>
        <span>Tunisia</span>
    </div>
</section>
<section class="download-app">
    <div class="content">
        <img src="{% static 'images/download-app-logo-opt.svg' %}" alt="App Icon">
        <h2>Download the app</h2>
        <p>Order anything and track it in real-time with the Glovo app.</p>
        <div class="store-buttons">
            <a href="#"><img src="{% static 'images/app-store-button.svg' %}" alt="Download on the App Store"></a>
            <a href="#"><img src="{% static 'images/google-play-button.svg' %}" alt="Get it on Google Play"></a>
        </div>
    </div>
    <div class="app-screenshots">
        <img src="{% static 'images/download-app-desktop-opt.avif' %}" alt="Glovo App Screenshots">
    </div>
</section>

 <section class="join-us">
    <h2>Let's do it together</h2>
    <div class="join-options">
        <div class="option">
            <img src="{% static 'images/rider-image-opt.png' %}" alt="Become a Rider">
            <h3>Become a rider</h3>
            <p>Enjoy flexibility, freedom, and competitive earnings by delivering through Glovo.</p>
            <button class="register-btn">Register here</button>
        </div>
        <div class="option">
            <img src="{% static 'images/partners-image-opt.png' %}" alt="Become a Partner">
            <h3>Become a partner</h3>
            <p>Grow with Glovo! Our technology and user base can help you boost sales and unlock new opportunities!</p>
            <button class="register-btn">Register here</button>
        </div>
        <div class="option">
            <img src="{% static 'images/careers-image-opt.png' %}" alt="Careers">
            <h3>Careers</h3>
            <p>Ready for an exciting new challenge? If you’re ambitious, humble, and love working with others, then we want to hear from you!</p>
            <button class="register-btn">Register here</button>
        </div>
    </div>
</section>
