.header {
    background-color: #deb110;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

.btn-success {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-success:hover {
    background-color: #218838;
    transform: scale(1.05);
}

 .footer {
    display: flex;
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align items in center */
    background-color: #333;
    padding: 20px;
    color: white;
}

.footer-logo {
    width: 100px; /* Adjust logo size */
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.social-icons img {
    width: 25px;
    margin: 5px;
}


