{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Glovo Clone{% endblock %}</title>

    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


    <!-- Django static files -->
    {% load static %}
</head>
<body>
{% include 'partials/navbar.html' %}

<!-- Navbar -->

<!-- Main Content -->
<main>
    {% include 'partials/hero.html' %}
    {% block content %}
        <!-- Child template content goes here -->
    {% endblock %}
</main>

<!-- Footer -->
{% include 'partials/footer.html' %}

</body>
</html>
